{% extends "base.html" %}
{% block main_block %}
    {% load static %}
    <div class="container-fluid p-0">

    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">{{ coffeeshop.name }}</h1>
    </div>
        <div class="row d-flex align-items-stretch bd-highlight">
            <div class="col-sm">
                <div class="row">
                    <div class="card">
                        <p class="card-text" style="white-space: pre-line">{{ coffeeshop.description }}</p>
                    </div>
                    <div class="card">
                        <div style="margin: 1%">
                            {{ map | safe }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="margin-left: 1%">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                {% for image in images %}
                                    <img class="card-img" src="/{{ image.path }}/{{ image.name }}">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Дополнительная информация</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Адрес:</strong> {{ coffeeshop.address }}</p>
                            <p class="card-text"><strong>Часы работы:</strong> {{ coffeeshop.opening_hours }}</p>
                            <p class="card-text"><strong>Сайт:</strong> {{ coffeeshop.website }}</p>
                            <p class="card-text"><strong>Социальные сети:</strong>
                                {% for social_network in coffeeshop.social_networks %}
                                    {{ social_network }}<br>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}