{% extends 'base.html' %}
{% block main_block %}
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">Кофейни</h1>

        <div class="row">
            <div class="col-md-4 col-xl-3">
            </div>

            <div class="col-md-8 col-xl-3">
                <table>
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Адрес</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for coffeeshop in coffeeshop_list %}
                        <tr>
                            <td>{{ coffeeshop.name }}</td>
                            <td>{{ coffeeshop.address }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}