{% extends "base.html" %}
{% block main_block %}
    {% load static %}
{#    <script>#}
{#        document.addEventListener("DOMContentLoaded", function () {#}
{#            // DataTables with Buttons#}
{#            var myCarousel = document.querySelector('#carouselExampleControls')#}
{#            var carousel = new bootstrap.Carousel(myCarousel)#}
{##}
{#        });#}
{#    </script>#}

    <div class="container-fluid p-0">

    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">{{ coffeeshop.name }}</h1>
    </div>
        <div class="row d-flex align-items-stretch bd-highlight">
            <div class="col-sm">
                <div class="row">
                    <div class="card">
                        <p class="card-text" style="white-space: pre-line">{{ coffeeshop.description }}</p>
                    </div>
                    <div class="card">
                        <div style="margin: 1%">
                            {{ map | safe }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="margin-left: 1%">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">
{#                                <div class="carousel-indicators">#}
{#                                    {% for _ in images %}#}
{#                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter }}" class="{% if forloop.first %} active {% endif %}" aria-current="true" ></button>#}
{#                                    {% endfor %}#}
{#                                </div>#}
                                <div class="carousel-inner">
                                    {% for image in setting.images %}
                                        <div class="carousel-item {% if forloop.first %} active {% endif %}">
                                            <img class="d-block w-100" src="/{{ image }}">
                                        </div>
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Предыдущий</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Следующий</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Дополнительная информация</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Адрес:</strong> {{ coffeeshop.address }}</p>
                            <p class="card-text"><strong>Часы работы:</strong> {{ coffeeshop.opening_hours }}</p>
                            <p class="card-text"><strong>Сайт:</strong> {{ coffeeshop.website }}</p>
                            <p class="card-text"><strong>Социальные сети:</strong>
                                {% for social_network in coffeeshop.social_networks %}
                                    {{ social_network }}<br>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}